@model BHMS_Portal.Models.VerificationCode
@{
 
    Layout = "~/Views/Shared/_RegistrationLogin.cshtml";
    ViewBag.Title = "RegisterUser";
}

<section class="login-outer-wrapper">
    <div class="background-logo">
        <img src="~/Content/Web/assets/img/jubilee-logo.svg"
             class="d-inline-block align-top" alt="">
    </div>
    <div class="login">
        <div class="loader login_loader loader_absolute">
            <div class="loader_overlay"></div>
            <img class="loader_img" src="~/Content/Web/assets/img/loader.svg">
        </div>
        <div class="login-head">
            <h2>Welcome To  <b><span style="color:#ba0c2f">Jubilee Hut Management System</span></b></h2>
            <p>Please register with Jubilee Life credentials</p>
        </div>
        <form id="register-form" method="POST">
            <div class="alert-response alert alert-dismissible fade show mt-1 mb-1 login_alert" role="alert" data-rfClass="">
                <span></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @Html.HiddenFor(model => model.VerificationType)
            <div class="login-credential-wrapper">
                <div class="login-input-wrapper clearfix">
                    <div class="icon-box"> <i class="fas fa-id-card"></i> </div>
                    <div class="input-box">
                        @Html.TextBoxFor(model => model.DecibelId, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="login-credential-wrapper">
                <div class="login-input-wrapper clearfix">
                    <div class="icon-box"> <i class="fa fa-lock"></i> </div>
                    <div class="input-box">
                        <input id="password" type="password" class="form-control " name="password" required autocomplete="off" placeholder="Password">
                    </div>
                </div>
            </div>

            <div class="login-credential-wrapper">
                <div class="login-input-wrapper clearfix">
                    <div class="icon-box"> <i class="fa fa-lock"></i> </div>
                    <div class="input-box">
                        <input id="confirmpassword" type="password" class="form-control " name="confirmpassword" required autocomplete="off" placeholder="Confirm Password">
                    </div>
                </div>
            </div>
            <div class="btn-wrapper-sign">
                <a class="btn sign-in-btn" onclick="RegisterUser();">Register</a>
            </div>
            <p> Already have an account? <a href="@Url.Action("LoginUser", "Account")" class="text-decoration-underline">Login here</a></p>
        </form>
    </div>
</section>

@section scripts{
    <script>
        //const delay = ms => new Promise(res => setTimeout(res, ms));

        $('#confirmpassword').keypress(function (e) {
            if (e.which == 13) {
                RegisterUser();
                return false;
            }
        });

        function RegisterUser() {
            var flg = RegisterUserValidation();
            if (flg != "") {
                ToastMsg("5", flg, "top-right");
            } else {
                var jsonbox = {};


                jsonbox.UserType = $('#ddlusertype :selected').text();
                jsonbox.UserTypeId = $('#ddlusertype :selected').val();
                jsonbox.DecibelId = $('#DecibelId').val()
                jsonbox.Password = $('#password').val()
                jsonbox.VerificationType = $('#VerificationType').val()
                $.ajax({
                    type: "POST",
                    url: '/Account/RegisterUser',
                    data: '{registerModel: ' + JSON.stringify(jsonbox) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    success: function (result) {

                        if (result.statusCode == 200) {
                            ToastMsg("1", "Sign Up Successfully", "top-right");
                         window.location.replace('/BHMS/Index');
                        } else {
                            console.log(result.statusMessage);
                            alert(result.statusMessage);
                            ToastMsg("2", result.statusMessage, "top-right");
                             window.location.replace('/BHMS/Index');
                        }
                    },
                    error: function (error) {
                        //console.error(error);
                        //ToastMsg("2", error, "top-right");
                    }
                });
            }
        }
    </script>
}

